#main {
    text-align: center;
    padding-top: 109px;
  }
  
  #search-box-outer {
    display: flex;
    /* center me! */
    background-color: transparent;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    padding: 5px 8px 0 16px;
    margin: 20px;
    width: 584px;
    border: none;
    box-shadow: 0 3px 8px 1px rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.18)
  }
  
  .search-box-inner {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 100%;
  }
  
  .mic {
    width: 24px;
    height: 24px;
    background-size: 24px;
    vertical-align: middle; 
  }